/combination
/combination-kaggle
/Dataset Info.xlsx
/dataset_1
/dataset_2
/forest_fire
/req_cmd.txt
/runs
/venv
/checkpoint
/wildfire-camera-detection-keras-v2-training-reshuffle.ipynb
/wildfire-camera-detection-keras-v2-with-validation.ipynb
/__pycache__
/tmp
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
