/combination
/combination-kaggle
/Dataset Info.xlsx
/dataset_1
/dataset_2
/forest_fire
/req_cmd.txt
/runs/*
!/runs
/backup
/venv
/checkpoint
/old
/__pycache__
/tmp
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.svg
*.pyc
*.ini